<nav class='bg-stone-800 text-white flex flex-nowrap justify-between w-screem'>
<div class="p-6 ">
<a href="{{ path('app_login') }}" class="ml-6">Connexion</a>
<a href="{{ path('app_register') }}" class="ml-6">Inscription</a>
<a href="{{path('app_article_index')}}" class="ml-6">Le Coin Lecture</a>
</div>
<div class="p-6 ">
<a href="{{path('app_logout')}}">Deconnexion</a>
</div>
<div>
<img class= "h-20 " src="/images/logo/Logoblancligne.png" alt="logo de Thot">
</div>
</nav>