{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

 {% block body %}
 <h1>Tableau de bord</h1>
 <table>
 <thead> 
 <tr>
 <th>Textes</th>
 <th>Utilisateurs</th>
 </tr>
 </thead>
 <tbody>
 </tbody>
 </table>
  
{% endblock %}