{% extends 'base.html.twig' %}

{% block title %}THOT{% endblock %}

{% block body %}
<main >
    <section class ="flex flex-row">
        <img class="w-3/6" src="/images/logo/logogr-removebg.png" alt="logo de Thot">
        <img class="w-3/6" src="/images/image/livre.jpg" alt="image de livre">
    </section>

    <section class='shadow-xl flex flex-row'>
        <div class=' m-6 w-3/6 '>
            <h2>texte 1 </h2>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque hic debitis, praesentium tempora aperiam distinctio voluptatem asperiores reiciendis quidem nemo sit, recusandae, laudantium deleniti consequuntur rem similique amet nulla excepturi!</article>
            <p>par voldemore</p>
        </div>
        <div class="w-3/6"> 
            <img class='' src="/images/image/rondbois.jpg" alt="image de bois">
        </div>    
    </section>

    <section class='shadow-xl '>
        <div class= 'm-6'>
            <h2></h2>
            <article></article>
            <p></p>
        </div>
    </section>
</main>
{% endblock %}
