{% extends 'base.html.twig' %}

{% block title %}THOT{% endblock %}

{% block body %}
    <main class ="flex flex-nowrap">
     <img class="w-3/6" src="/images/logo/logogr-removebg.png" alt="logo de Thot">
     <img class="w-3/6" src="/images/image/livre.jpg" alt="image de livre">
    </main>
{% endblock %}
